@charset "UTF-8";

/* General */

body{
	margin:0;
}

.button2text{
	background:none;
	border:none;
	cursor:pointer;
}

.button2flat{
	display:inline-block;
	background-color:#F0F0F0;
	border:none;
	cursor:pointer;
	line-height: 2em;
	font-size:16px;
	padding:0 .2em 0 .2em;
}

#ki_environmentIndicator{
	position:fixed;
	top:0;
	left:0;
	background-color:#FFFF00;
	border-width:1px;
	border-color:#000;
	border-style:solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	opacity:0.9;
}

#ki_envind_close{
	text-decoration:none;
	color:#A00;
	font-weight:bold;
}

/* DataTable */
.ki_datatable{
	display:inline-block;
	text-align:left;
}

.ki_table{
	display:table;
	border-collapse:separate;
	border-spacing:1px 0;
	margin-top:1px;
	clear:both;
	text-align:center;
}

.ki_table form:last-child>div{
	border-width:0;
}

.ki_table>div,.ki_table>form{
	display:table-row;
}

.ki_table>div>div,.ki_table>form>div{
	display:table-cell;
	padding:0 5px 0 5px;
	border-bottom:1px solid #000;
	background-color:#F9F9FD;
}

.ki_table div.ki_table_action{
	background-color:transparent;
	border:0;
}

.ki_table .ki_table_action{
	vertical-align:middle;
}

.ki_table_action *{
	border:0;margin:0;padding:0;
	position:relative;
}

.ki_table_action{
	white-space:nowrap;
}

.ki_table input[type=number]{
	width:3em;
}

.ki_table select[multiple]{
	min-width:15em;
}

.ki_button_save{
	background-size:contain;
	font-size:100%;
	z-index:5;
}

.ki_button_del{
	color:#F00;
	position:absolute;
	bottom:0;
	left:0;
	z-index:20;
}

.ki_button_del:focus{
	z-index:8;
}

.ki_button_add{
	color:#0A0;
	font-weight:bold;
}

.ki_button_action{
	height:20px;
	padding: 0 5px 0 5px;
}

.ki_button_confirm input{
	height:18px;
	padding: 0 5px 0 5px;
}

.ki_button_save,.ki_button_add,.ki_button_del{
	height:20px;
	width:20px;
	border:0;margin:0;padding:0;
}

.ki_button_confirm{
	width:20px;
	height:20px;
	overflow:hidden;
	background-color:rgba(255,0,0,0.9);
	position:absolute;
	bottom:0;
	right:0;
	z-index:10;
	text-align:left;
}

.ki_button_del:focus+.ki_button_confirm,.ki_button_confirm:hover{
	width:200px;
	padding:2px;
	margin:1px;
	z-index:25;
	height:18px;
}
.ki_button_confirm:focus-within{ /* must be the same as above, it's only separate to avoid breaking stupid IE */
	width:200px;
	padding:2px;
	margin:1px;
	z-index:25;
	height:18px;
}


.ki_button_confirm_container{
	position:relative;
	width:20px;
	height:20px;
	border:0;margin:0;padding:0;
	display:inline-block;
	vertical-align:bottom;
}

/* Tabber */
.ki_tabber{
	position:relative;
	border:0;margin:0 2px 0 0;padding:0;
}
.ki_tabber>div{                                      /* Targets */
	border:0;margin:0;padding:0;
}
.ki_tabber>div>a{                                    /* Unselected tabs */
	display:inline-block;
	position:relative;
	z-index:0;
	float:left;
	height:16px;
	border:black solid;
	border-radius:5px 15px 0 0;
	border-width:1px 1px 0 1px;
	margin:0 -7px 0 2px;
	padding:1px 15px 0 5px;
	background-color:#DDD;
	text-decoration:none;
	color:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:10px;
}
.ki_tabber>div:target>a{                             /* Selected tabs */
	background-color:#FFF;
	z-index:5;
}
.ki_tabber>div:first-child:not(:has(~div:target))>a{ /* When no tabs are targeted, default to the first one */
	background-color:#FFF;
	z-index:5;
}
.ki_tabber>div>div{                                  /* Tab content area */
	position:absolute;
	top:17px;
	left:0;
	width:100%;
	z-index:1;
	border:1px black solid;
	background-color:#FFF;
	visibility:hidden;
}
.ki_tabber>div:target>div{                           /* Selected tab's content area */
	z-index:3;
	visibility:visible;
}
.ki_tabber>div:first-child>div{                      /* First tab content area in front when none are selected */
	z-index:2;
	visibility:visible;
}
.ki_tabber>div:first-child:not(:has(~div:target))>div{
	visibility:visible;
}
.ki_tabber>div:has(~div:target)>div{
	visibility:hidden;
}

/* Menu */
.ki_menu {
	position: relative;
	display: inline-block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	white-space:nowrap;
}
.ki_menu:focus ul, .ki_menu:hover ul {
	opacity: 1;
	visibility: visible;
}
.ki_menu ul {
	position: absolute;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.5s;
}
.ki_menu div {
	padding-top:0;
	padding-bottom:0;
	background-color: #DDD;
	white-space:nowrap;
	color:#000;
	font-size:16px;
	line-height:16px;
	text-align:center;
	user-select:none;
}
.ki_menu div span:first-child{
	color:#FFF;
	font-size:15px;
	float:right;
	padding-left:10px;
}
.ki_menu ul {
	background-color: #CCC;
	width: auto;
	margin-top: 0;
	margin-left: 0;
	padding: 0;
}
.ki_menu li {
	color: #000;
	list-style-type: none;
	white-space: nowrap;
	text-align:center;
	margin:0;
}
.ki_menu>ul>li>a,.ki_menu>ul>li>span, .ki_menu input[type=submit].button2text{
	text-decoration:none;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:15px;
	display:inline-block;
	margin:0;
}
.ki_menu>ul>li>a {
	width:calc(100% - 10px);
}
.ki_menu input[type=submit].button2text {
	width:100%;
	height:25px;
}
.ki_menu>ul>li>a:hover,.ki_menu>ul>li>span:hover, .ki_menu input[type=submit].button2text:hover{
	background-color:#DDD;
}

/* RadTabber */
.ki_rtabber{                             /* Whole widget */
	position:relative;
}
.ki_rtabber>input{                       /* Radio buttons */
	display:none;
	float:left;
}
.ki_rtabber div{                         /* Content areas */
	display:none;
	border:1px black solid;
	position:absolute;
	top:17px;
	left:0;
	z-index:2;
	font-family:initial;
	font-weight:normal;
	font-size:initial;
}
.ki_rtabber input:checked + label + div{ /* Selected content areas */
	display:block;
}
.ki_rtabber label{                       /* Tabs */
	position:relative;
	cursor:pointer;
	float:left;
	height:16px;
	border:black solid;
	border-radius:5px 15px 0 0;
	border-width:1px 1px 0 1px;
	margin:0 -7px 0 2px;
	padding:1px 15px 0 5px;
	background-color:#DDD;
	text-decoration:none;
	color:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:10px;
	z-index:1;
}
.ki_rtabber input:checked + label{       /* Selected tab */
	z-index:3;
	background-color:#FFF;
}
.ki_rtabber_fullWidth{                   /* class applied to content areas when widget has a specified width */
	width:calc(100% - 2px);
}
.ki_rtabber input.ki_rtabber_untab{      /* "untab" reverts tabs to their natural radio button state */
	display:block;
}
.ki_rtabber input.ki_rtabber_untab + label{
	border:none;
	background-color:#FFF;
	margin: 0;
}
.ki_rtabber input.ki_rtabber_untab + label + div{
	border:none;
}

/* LoginForm */
#auth_Register .ki_table>form>div{
	display:inline-block;float:left;
}
#auth{
	float:right;
}

/* Cross browser standardization */
input[type=text],input[type=password],input[type=email],input[type=number]{
	width:137px;
	padding:2px;
}

input[type=text],input[type=password],input[type=email],input[type=number],select{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* QueryBuilder */
.ki_querybuilder{
	text-align:left;
	float:left;
}
.ki_querybuilder fieldset{
	width:min-content;
	white-space:nowrap;
}
.ki_querybuilder ol,.ki_querybuilder ul{
	list-style-type: none;
	padding:0 0 0 5px;
}
.ki_querybuilder ol{
	margin:0;
}
.ki_querybuilder ul{
	margin:0 0 0 1em;
	position:relative;
}
.ki_querybuilder ul li::before{
	content:"—";
}
.ki_querybuilder ul li{
	clear:both;
	padding-top:1px;
	white-space:nowrap;
	position:relative;
}
.ki_querybuilder ul>li>div{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	border-left:1px black solid;
}
.ki_querybuilder ul>li:last-child>div{
	height:11px;
}
.ki_querybuilder ul li input,.ki_querybuilder ul li select{
	height:19px;
	margin:0;
	padding:0;
}
.ki_querybuilder ul li select[multiple]{
	vertical-align:bottom;
}
.ki_querybuilder ul li input[type=checkbox]{
	height:auto;
	margin:0 1em 0 1em;
	padding:0;
}
.ki_querybuilder ol li{
	background-color:#EEE;
	border:1px solid white;
}
.ki_querybuilder ol li select{
	margin:1px;
}
.ki_filter{
	display:inline-block;
	vertical-align:top;
	padding-right:2em;
}
.ki_filter button:not(.ui-multiselect){
	width:auto;
	font-weight:normal;
	height:19px;
	border:0;
	padding:0 2px 0 2px;
	color:#0A0;
	position:relative;
	top:1px;
	clear:none;
}
.ki_querybuilder button:last-child, .ki_querybuilder button+button~button:not(.ui-multiselect){
	color:#F00;
	width:20px;
	margin-left:2px;
	position:absolute;
	right:-25px;
}

.ki_querybuilder form>div>input[type=submit],.ki_querybuilder>form>input{
	background-color:#0A0;
	color:#FFF;
	font-weight:bold;
}

.ki_querybuilder>form{
	display:inline;
}

/* Drawer */
.ki_drawer{               /* the checkbox that tracks state */
	position:absolute;
	visibility:hidden;
	height:0;
	width:0;
}

.ki_drawer+label{         /* the covering label */
	display:none;
	background-color:rgba(0,0,0,0.2);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}

.ki_drawer:checked+label{
	display:block;
}

.ki_drawer+label+label{   /* the activation button */
	display:inline-block;
	height:2em;
	padding-left:0.55em;
	padding-right:0.55em;
	background-color:#F0F0F0;
	user-select: none;
	text-align:center;
	line-height:2em;
	cursor:pointer;
}

.ki_drawer+label+label+div{ /* the actual drawer */
	margin:0;
	z-index:120;
	background-color:rgba(255,255,255,0.95);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	max-width:95%;
	transform:scaleX(0);
	transform-origin: left bottom;
	transition:.2s linear;
	overflow-x:hidden;
	overflow-y:auto;
	text-align:left;
}

.ki_drawer+label+label+div>h1,
.ki_drawer+label+label+div>h2,
.ki_drawer+label+label+div>h3,
.ki_drawer+label+label+div>h4,
.ki_drawer+label+label+div>h5,
.ki_drawer+label+label+div>h6{
	margin-top:0;
}

.ki_drawer:checked+label+label+div{
	transform:scaleX(1);
	transition:.2s ease-out;
}

.ki_drawer.ki_edge_right+label+label+div{
	left:initial;
	right:0;
	transform-origin: right bottom;
}

.ki_drawer.ki_edge_bottom+label+label+div{
	top:initial;
	right:0;
	max-width:initial;
	max-height:95%;
	overflow-x:hidden;
	overflow-y:hidden;
	transform:scaleY(0);
}

.ki_drawer.ki_edge_bottom:checked+label+label+div,.ki_drawer.ki_edge_top:checked+label+label+div{
	transform:scaleY(1);
}

.ki_drawer.ki_edge_top+label+label+div{
	bottom:initial;
	right:0;
	max-width:initial;
	max-height:95%;
	overflow-x:hidden;
	overflow-y:hidden;
	transform:scaleY(0);
	transform-origin: left top;
}

.ki_drawer+label+label+div>label{ /* the close button */
	display:block;
	width:2em;
	height:2em;
	font-weight:bold;
	background-color:#F0F0F0;
	user-select: none;
	text-align:center;
	line-height:2em;
	position:absolute;
	top:1em;
	right:1em;
	cursor:pointer;
}

/* SelectCycler */
.selectCycler{
	height:12px;
	min-width:12px;
	background-color:#EEE;
	border:1px #888 solid;
	border-radius:2px;
	text-align:center;
	display:inline-block;
	margin:1px 1px 4px 1px;
	vertical-align:middle;
	font-size:12px;
	line-height:12px;
}

/* Modify third party widgets */
.ui-multiselect{
	font-size:12px;
}
