@charset "UTF-8";

/* General */

body{
	margin:0;
}

.button2text{
	background:none;
	border:none;
	cursor:pointer;
}

/* DataTable */
.ki_table{
	display:table;
	border-collapse:separate;
	border-spacing:1px 0;
	margin-top:1px;
}

.ki_table form:last-child>div{
	border-width:0;
}

.ki_table>div,.ki_table>form{
	display:table-row;
}

.ki_table>div>div,.ki_table>form>div{
	display:table-cell;
	padding:0 5px 0 5px;
	border-bottom:1px solid #000;
	background-color:#F9F9FD;
}

.ki_table div.ki_table_action{
	background-color:transparent;
	border:0;
}

.ki_table .ki_table_action{
	vertical-align:middle;
}

.ki_table_action *{
	border:0;margin:0;padding:0;
	position:relative;
}

.ki_table input[type=number]{
	width:3em;
}

.ki_button_save{
	background-size:contain;
	font-size:100%;
	z-index:5;
}

.ki_button_del{
	color:#F00;
	position:absolute;
	bottom:0;
	left:0;
	z-index:20;
}

.ki_button_del:active{
	z-index:8;
	display:none;
}

.ki_button_add{
	color:#0C0;
	font-weight:bold;
}

.ki_button_action{
	height:20px;
	padding: 0 5px 0 5px;
}

.ki_button_confirm input{
	height:18px;
	padding: 0 5px 0 5px;
}

.ki_button_save,.ki_button_add,.ki_button_del{
	height:20px;
	width:20px;
	border:0;margin:0;padding:0;
}

.ki_button_confirm{
	width:20px;
	height:20px;
	overflow:hidden;
	background-color:rgba(255,0,0,0.9);
	position:absolute;
	bottom:0;
	right:0;
	z-index:10;
	text-align:left;
}

.ki_button_confirm:hover{
	width:200px;
	padding:2px;
	margin:1px;
	z-index:25;
	height:18px;
}

.ki_button_confirm_container{
	position:relative;
	width:20px;
	height:20px;
	border:0;margin:0;padding:0;
	display:inline-block;
	vertical-align:bottom;
}

/* Tabber */
.ki_tabber{
	position:relative;
	border:0;margin:0 2px 0 0;padding:0;
}
.ki_tabber>div{                                      /* Targets */
	border:0;margin:0;padding:0;
}
.ki_tabber>div>a{                                    /* Unselected tabs */
	display:inline-block;
	position:relative;
	z-index:0;
	float:left;
	height:16px;
	border:black solid;
	border-radius:5px 15px 0 0;
	border-width:1px 1px 0 1px;
	margin:0 -7px 0 2px;
	padding:1px 15px 0 5px;
	background-color:#DDD;
	text-decoration:none;
	color:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:10px;
}
.ki_tabber>div:target>a{                             /* Selected tabs */
	background-color:#FFF;
	z-index:5;
}
.ki_tabber>div:first-child:not(:has(~div:target))>a{ /* When no tabs are targeted, default to the first one */
	background-color:#FFF;
	z-index:5;
}
.ki_tabber>div>div{                                  /* Tab content area */
	position:absolute;
	top:17px;
	left:0;
	width:100%;
	z-index:1;
	border:1px black solid;
	background-color:#FFF;
	visibility:hidden;
}
.ki_tabber>div:target>div{                           /* Selected tab's content area */
	z-index:3;
	visibility:visible;
}
.ki_tabber>div:first-child>div{                      /* First tab content area in front when none are selected */
	z-index:2;
	visibility:visible;
}
.ki_tabber>div:first-child:not(:has(~div:target))>div{
	visibility:visible;
}
.ki_tabber>div:has(~div:target)>div{
	visibility:hidden;
}

/* Menu */
.ki_menu {
	position: relative;
	display: inline-block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	white-space:nowrap;
}
.ki_menu:focus ul, .ki_menu:hover ul {
	opacity: 1;
	visibility: visible;
}
.ki_menu ul {
	position: absolute;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.5s;
}
.ki_menu div {
	padding: 5px;
	background-color: #DDD;
	white-space:nowrap;
	color:#000;
	font-size:16px;
}
.ki_menu div span:first-child{
	color:#FFF;
	font-size:15px;
	float:right;
	padding-left:10px;
}
.ki_menu ul {
	background-color: #CCC;
	width: auto;
	margin-top: 0;
	margin-left: 0;
	padding: 5px;
}
.ki_menu li {
	color: #000;
	list-style-type: none;
	white-space: nowrap;
	text-align:center;
	margin:0;
}
.ki_menu a, .ki_menu input[type=submit]{
	text-decoration:none;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px;
	border-radius:5px;
	display:inline-block;
	margin:0;
}
.ki_menu a {
	width:calc(100% - 10px);
	height:15px;
}
.ki_menu input[type=submit] {
	width:100%;
	height:25px;
}
.ki_menu a:hover, .ki_menu input[type=submit]:hover{
	background-color:#DDD;
}

/* RadTabber */
.ki_rtabber{                             /* Whole widget */
	position:relative;
}
.ki_rtabber input{                       /* Radio buttons */
	display:none;
	float:left;
}
.ki_rtabber div{                         /* Content areas */
	display:none;
	border:1px black solid;
	position:absolute;
	top:17px;
	left:0;
	z-index:2;
	font-family:initial;
	font-weight:normal;
	font-size:initial;
}
.ki_rtabber input:checked + label + div{ /* Selected content areas */
	display:block;
}
.ki_rtabber label{                       /* Tabs */
	position:relative;
	cursor:pointer;
	float:left;
	height:16px;
	border:black solid;
	border-radius:5px 15px 0 0;
	border-width:1px 1px 0 1px;
	margin:0 -7px 0 2px;
	padding:1px 15px 0 5px;
	background-color:#DDD;
	text-decoration:none;
	color:#000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:10px;
	z-index:1;
}
.ki_rtabber input:checked + label{       /* Selected tab */
	z-index:3;
	background-color:#FFF;
}
.ki_rtabber_fullWidth{                   /* class applied to content areas when widget has a specified width */
	width:calc(100% - 2px);
}
.ki_rtabber input.ki_rtabber_untab{      /* "untab" reverts tabs to their natural radio button state */
	display:block;
}
.ki_rtabber input.ki_rtabber_untab + label{
	border:none;
	background-color:#FFF;
	margin: 0;
}
.ki_rtabber input.ki_rtabber_untab + label + div{
	border:none;
}
